workshop/Working-with-LINE-Chatbot.json
{
  "name": "Working-with-LINE-Chatbot",
  "nodes": [
    {
      "parameters": {
        "content": "## Receive request from LINE",
        "height": 112,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        176
      ],
      "typeVersion": 1,
      "id": "fa067717-de71-45b3-8294-deb6f872b1f8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Send result to LINE",
        "height": 112,
        "width": 214
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        176
      ],
      "typeVersion": 1,
      "id": "0250c21d-3014-4e8c-86d0-e85711f282f8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        224
      ],
      "id": "de6dd82b-acc5-443b-b893-4c71ef42fa0b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nz1b7a2kiZbdRwkK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "69d0ed3e-9ece-447c-a3b5-a14c15b8cca8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "ad6023ad-6c72-4c4b-bc1d-e51274db9007",
      "name": "Called Webhook from LINE",
      "webhookId": "69d0ed3e-9ece-447c-a3b5-a14c15b8cca8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"replyToken\": $('Called Webhook from LINE').item.json.body.events[0].replyToken, \"messages\": [ { \"type\": \"text\", \"text\": $json.output } ] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        0
      ],
      "id": "57413fe1-c317-4cd7-9937-e97afa1b8a53",
      "name": "Reply message to LINE",
      "credentials": {
        "httpBearerAuth": {
          "id": "u9HBxIQ0ld7c4Sb7",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.events[0].message.text }}",
        "options": {
          "systemMessage": "[Instruction]\nAs an expert financial advisor, \nprovide fund recommendations based on user-defined criteria including risk level, \nfund type, investment type, and minimum annual return percentage. \nUse the fund data provided below in section [ข้อมูลกองทุน] only to match user requests accurately.\n\n\n[ข้อมูลกองทุน]\nชื่อกองทุน, ประเภทกองทุน, ประเภทการลงทุน, ความเสี่ยง, ผลตอบแทนขั้นต่ำต่อปี (%)\nกองทุน A ,thai, esg, ต่ำ, 5\nกองทุน B ,thai, esg, กลาง, 7\nกองทุน C ,other, esg, สูง, 10\nกองทุน D ,thai, non-esg, ต่ำ, 4\nกองทุน E ,other, non-esg, กลาง, 6\n\n[Condition]\nในการถามตอบต้องได้รับข้อมูลครบถ้วน\n1. ความเสี่ยง: ต่ำ, กลาง, สูง\n2. ประเภทกองทุน: thai, other\n3. ประเภทการลงทุน: esg, non-esg\n4. ผลตอบแทนขั้นต่ำต่อปี (%): ตัวเลขจำนวนเต็ม\n\nทำการแนะนำกองทุนที่ตรงกับเงื่อนไขที่ผู้ใช้ระบุมาเท่านั้นและเมื่อผู้ใช้ระบุเงื่อนไขครบถ้วน"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "495f3cc4-f88f-4bcf-a79c-83ee4857a77f",
      "name": "AI Agent for มุกตลก cafe"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Called Webhook from LINE').item.json.body.events[0].source.userId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        224
      ],
      "id": "6071be67-1333-4abf-bc96-9728eb3c7bad",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent for มุกตลก cafe",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Called Webhook from LINE": {
      "main": [
        [
          {
            "node": "AI Agent for มุกตลก cafe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent for มุกตลก cafe": {
      "main": [
        [
          {
            "node": "Reply message to LINE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent for มุกตลก cafe",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01502fa6-ebe2-4a0e-9a97-d053fe00c6a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c8e57ceff016be733fe412426a9dd7ee93eaeffb10b1d55f5a91226c975f84c"
  },
  "id": "vA9fYk1CBdnds3rn",
  "tags": []
}